/*

Theme Name: Amanda Karoline
Theme URI: http://amandakaroline.com.br
Author: HC Desenvolvimentos
Author URI: http://hcdesenvolvimentos.com.br;
Description: Descrção do thema.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: amandakaroline
Tags: Modelo, Maquiagem, Fotos, Portfólio, Preto.

--------------------------------------------
ESTRUTURAÇÃO BASE (Palupa Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** PÁGINA INICIAL
**** EXTRAS
**** @MEDIA
font-family: 'K2D', sans-serif;
*/
*{
  margin: 0;
  padding: 0;
}

/* BODY */
  body{
    width: 100%;
    height: 100vh;
    background:url(../img/fundo.png);
    background-size: cover!important;
    background-position: center!important;
  }
  body:after{
    content: "";
    width: 100%;
    height: 111vh;
    background: rgba(0, 0, 0, 0.6588235294117647);
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }

/* TOPO */
  .topo{

  }
  header{

  }

/*RODAPÉ*/
  .rodape{

  }
  footer{

  }

/*COPYRIGHT*/
  .copyright{

  }

/*PG*/
  .pg{

  }

/*PÁGINA INICIAL*/
  .conteudoGeral{
    color: #fff;
    position: relative;
    z-index: 2;
    text-align: center;
    font-family: 'K2D', sans-serif;
  }
    .conteudoGeral .textosInicial{
      
    }
      .conteudoGeral .textosInicial h3{
        margin: 0;
        font-size: 80px;
        margin-top: 110px;
      }
    .conteudoGeral .contador{
      margin: 180px 0;
      position: relative;
      text-align: center;
    }
    .conteudoGeral .contador:before{
      content: "Contagem regressiva";
      font-family: 'K2D', sans-serif;
      font-size: 34px;
      position: absolute;
      top: 0;
      width: 100%;
      left: 0;
    }
      .conteudoGeral .contador h3{
        display: inline-block;
        margin-top: 70px;
        margin: 70px 30px 0;
        font-size: 49px;
        background: #000;
        padding: 37px;
        width: 100%;
        max-width: 150px;
        position: relative;
      }
      .conteudoGeral .contador h3:after{
        content: "Dias";
        display: block;
        width: 100%;
        max-width: 150px;
        text-transform: lowercase;
        font-size: 23px;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
      }
      .conteudoGeral .contador h3#dias:after{
        content: "dias";
      }
      .conteudoGeral .contador h3#horas:after{
        content: "horas";
      }
      .conteudoGeral .contador h3#minutos:after{
        content: "minutos";
      }
      .conteudoGeral .contador h3#segundos:after{
        content: "segundos";
      }
      .conteudoGeral .contador h3#milisegundos:after{
        content: "milésimos";
      }
      .conteudoGeral .redesSociais{
        position: relative;
        bottom: 0;
        left: 0;
        text-align: center;
        width: 100%;
      }
        .conteudoGeral .redesSociais a{
          display: inline-block;
          color: #fff;
          font-size: 70px;
          text-align: center;
          margin: 0 50px;
          text-decoration: none;
        }
          .conteudoGeral .redesSociais a i{
            
          }

/*EXTRAS*/
  body::-webkit-scrollbar{ background: rgba(0, 0, 0, 0.6588235294117647);width: 10px;}
  body::-webkit-scrollbar-button{ background: #000;}
  body::-webkit-scrollbar-track{}
  body::-webkit-scrollbar-track-piece {}
  body::-webkit-scrollbar-thumb{ background: #000;}
  body::-webkit-scrollbar-corner {}
  body::-webkit-resizer{}

/*@MEDIA QUERY*/
  @media(max-width: 1200px){

  }

  @media(max-width: 991px){
  
  }
  @media(max-width: 768px){
    .conteudoGeral .contador h3 {
      font-size: 24px;
      max-width: 100px;
    }
    .conteudoGeral .redesSociais a {
      display: inline-block;
      color: #fff;
      font-size: 40px;
      text-align: center;
      margin: 0 10px;
      text-decoration: none;
    }
    .conteudoGeral .contador h3:after{
      font-size: 20px;
    }
    .conteudoGeral .contador {
      margin: 90px 0;
    }
    .conteudoGeral .textosInicial h3 {
      font-size: 60px;
    }
    .conteudoGeral .contador:before {
      font-size: 28px;
    }
  }

  @media(max-width: 445px){
    .conteudoGeral .textosInicial h3 {
      font-size: 40px;
    }
    .conteudoGeral .contador:before {
      font-size: 21px;
      top: -40px;
    }
    .conteudoGeral .contador h3 {
      display: block;
      margin: 10px auto 40px;
    }
    .conteudoGeral .redesSociais a {
      font-size: 29px;
    }
  }

  @media(max-width: 320px){
  
  }
